
@font-face {
    font-family: raleway;
    src: url(../font/Raleway/static/Raleway-ExtraBold.ttf);
    font-weight: 900;
    
}
@font-face {
    font-family: raleway;
    src: url(../font/Raleway/static/Raleway-Bold.ttf);
    font-weight: 800;
    
}
@font-face {
    font-family: raleway;
    src: url(../font/Raleway/static/Raleway-Medium.ttf);
    font-weight: 600;
    
}
@font-face {
    font-family: raleway;
    src: url(../font/Raleway/static/Raleway-Light.ttf);
    font-weight: 200;    
}